$box-shadow-color: rgb(191, 191, 191);
$custom_white: rgb(220, 220, 220);
$custom_grey: rgb(191, 191, 191);
$custom_darkgrey: rgb(92, 92, 92);
$custom_purple: #712cf9;
$custom_orange: rgb(214, 167, 13);
$custom_red: rgb(223, 14, 14);
$custom_blue: rgb(13, 113, 212);
$custom_green: rgb(6, 197, 76);
