.nav-link {
	color: $custom_grey;
}

.nav-link:hover {
	color: $custom_red;
}

body {
	border-radius: 15px;
	margin: 20px;
	box-shadow: 0 0 20px $custom_grey;
	min-height: 95vh;
}

#container_main {
	min-height: 95vh;
}

// space block after #myHomework_labelRow
#myHomework_labelRow + div {
	position: relative;
	top: 50px;
}

footer {
	position: sticky;
	top: 95%;
}

@media screen and (min-width: 600px) {
	.myHomework_labelBr {
		display: none;
	}
	#myHomework_label {
		font-family: $font-family-JetBrains;
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: unset;
	}
}

.logoString_h3,
.logoString_h5,
#headerGreeting {
	font-family: $font-family-JetBrains;
}

.logoString_h3 > h3 {
	color: $custom_red !important;
	font-size: 2.5rem;
	text-shadow: 0 0px 15px $custom_darkgrey;
}

#content_main {
	width: 100%;
	min-height: 75vh;
	background-repeat: no-repeat;
	background-size: cover;
	// background-size: 50% 50%;
	// background-position: right bottom;
}

.logInReg_mainpage {
	font-size: 1.3rem;
}