<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="" type="image/x-icon" />
		<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
		</style>
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}" />
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}" />
		<link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}" />
		<title>SpaceTales App</title>
	</head>
	<body>
		<div class="container" id="container_main">
			<!-- HEADER -->
			<!-- HEADER -->
			<!-- HEADER -->
			<header class="d-flex flex-wrap align-items-center justify-content-between py-3 border-bottom">
				<a href="/" class="my-3 col-lg-auto col-12 text-center" title="Home page">
					<img src="{% static 'favicon_io/apple-touch-icon.png' %}" alt="Home page logo" width="50px" height="50px" />
				</a>
				{% if user.is_authenticated %}
				<ul class="nav col-lg-auto col-12 mb-lg-0 mb-3 d-flex justify-content-center">
					<li><a href="/" class="nav-link px-2" title="Home page">Home</a></li>
					<li><a href="{% url 'films__list' %}" class="nav-link px-2" title="Films page">Films</a></li>
					<li><a href="" class="nav-link px-2" title="Heroes page">Heroes</a></li>
					<li><a href="" class="nav-link px-2" title="Planets page">Planets</a></li>
					<li><a href="" class="nav-link px-2" title="SpaceShips page">SpaceShips</a></li>
				</ul>
				<h6 class="text-center col-lg-auto col-12 mx-lg-auto mb-lg-0 mb-3" id="headerGreeting" style="color: rgb(92, 92, 92)">
					Hello {{user.username}}!<br />
					<br />Welcome to the SpaceTales App.
				</h6>
				<div class="d-flex justify-content-end col-lg-auto col-10 offset-lg-0 offset-2">
					<!-- <form action="#" method="post" class="col-7 me-2" role="search">
						{% csrf_token %}
						<div class="form-floating">
							<input
								type="search"
								id="search_field"
								name="search_field"
								class="form-control"
								placeholder="..."
								aria-label="Search filed"
							/>
							<label for="search_field"><i>Search field:</i></label>
						</div>
					</form> -->
					<a
						href="{% url 'logout' %}"
						class="btn btn-outline-danger text-center me-3"
						style="height: 3.5rem; padding-top: 0.85rem"
						title="Logout"
						>Logout</a
					>
					<!-- dark/light theme switch button -->
					<div id="colorThemeSwitcher" class="d-flex align-items-center">
						<label class="switch">
							<input class="switch__input" type="checkbox" role="switch" id="colorMode_switcher" />

							<svg class="switch__icon switch__icon--light" viewBox="0 0 12 12" width="12px" height="12px" aria-hidden="true">
								<g fill="none" stroke="#ffe100" stroke-width="1" stroke-linecap="round">
									<circle cx="6" cy="6" r="2" />
									<g stroke-dasharray="1.5 1.5">
										<polyline points="6 10,6 11.5" transform="rotate(0,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(45,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(90,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(135,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(180,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(225,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(270,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(315,6,6)" />
									</g>
								</g>
							</svg>
							<svg class="switch__icon switch__icon--dark" viewBox="0 0 12 12" width="12px" height="12px" aria-hidden="true">
								<g fill="none" stroke="#fff" stroke-width="1" stroke-linejoin="round" transform="rotate(-45,6,6)">
									<path
										d="m9,10c-2.209,0-4-1.791-4-4s1.791-4,4-4c.304,0,.598.041.883.105-.995-.992-2.367-1.605-3.883-1.605C2.962.5.5,2.962.5,6s2.462,5.5,5.5,5.5c1.516,0,2.888-.613,3.883-1.605-.285.064-.578.105-.883.105Z"
									/>
								</g>
							</svg>
							<!-- <span class="switch__sr">Dark Mode</span> -->
						</label>
					</div>
				</div>
				{% else %}
				<div class="col-lg-auto col-12 d-flex align-items-center justify-content-end">
					<a href="{% url 'login' %}" class="btn btn-outline-danger me-2" title="Login">Login</a>
					<a href="{% url 'registration' %}" class="btn btn-danger me-2" title="Register">Register</a>
					<!-- dark/light theme switch button -->
					<div id="colorThemeSwitcher" class="d-flex align-items-center">
						<label class="switch">
							<input class="switch__input" type="checkbox" role="switch" id="colorMode_switcher" />

							<svg class="switch__icon switch__icon--light" viewBox="0 0 12 12" width="12px" height="12px" aria-hidden="true">
								<g fill="none" stroke="#ffe100" stroke-width="1" stroke-linecap="round">
									<circle cx="6" cy="6" r="2" />
									<g stroke-dasharray="1.5 1.5">
										<polyline points="6 10,6 11.5" transform="rotate(0,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(45,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(90,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(135,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(180,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(225,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(270,6,6)" />
										<polyline points="6 10,6 11.5" transform="rotate(315,6,6)" />
									</g>
								</g>
							</svg>
							<svg class="switch__icon switch__icon--dark" viewBox="0 0 12 12" width="12px" height="12px" aria-hidden="true">
								<g fill="none" stroke="#fff" stroke-width="1" stroke-linejoin="round" transform="rotate(-45,6,6)">
									<path
										d="m9,10c-2.209,0-4-1.791-4-4s1.791-4,4-4c.304,0,.598.041.883.105-.995-.992-2.367-1.605-3.883-1.605C2.962.5.5,2.962.5,6s2.462,5.5,5.5,5.5c1.516,0,2.888-.613,3.883-1.605-.285.064-.578.105-.883.105Z"
									/>
								</g>
							</svg>
							<!-- <span class="switch__sr">Dark Mode</span> -->
						</label>
					</div>
				</div>
				{% endif %}
			</header>

			<!-- MAIN -->
			<!-- MAIN -->
			<!-- MAIN -->
			{% if user.is_authenticated %}
			<div id="content_main" class="border border-2 rounded rounded-2 mt-2 shadow-lg">
				<div class="d-flex align-items-center flex-column mt-5">
					<div class="logoString_h3 mb-3">
						<h3 class="text-center">SpaceTales App</h3>
					</div>
				</div>
				{% block content %}
				<div class="container h-100 mb-3">
					<div class="row align-middle">
						<div class="col-md-6 col-lg-3 column">
							<div class="card gr-1">
								<div class="txt">
									<h1>All Films</h1>
									<p>Findout all films with most important information about them.</p>
								</div>
								<a href="{% url 'films__list' %}" class="nav-link" title="Films information">More</a>
								<div class="ico-card">
									<div class="">
										<img src="{% static 'IMG/films.svg' %}" alt="Films logo" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 column">
							<div class="card gr-2">
								<div class="txt">
									<h1>Heroes</h1>
									<p>Browse all most popular heroes.</p>
								</div>
								<a href="" class="nav-link" title="Heroes information">More</a>
								<div class="ico-card">
									<div class="">
										<img src="{% static 'IMG/heroes.svg' %}" alt="Heroes logo" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 column">
							<div class="card gr-3">
								<div class="txt">
									<h1>Planets</h1>
									<p>Browse all most important planets.</p>
								</div>
								<a href="" class="nav-link" title="Planets information">More</a>
								<div class="ico-card">
									<div class="">
										<img src="{% static 'IMG/planets.svg' %}" alt="Planets logo" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 column">
							<div class="card gr-4">
								<div class="txt">
									<h1>SpaceShips</h1>
									<p>Browse all most important space ships.</p>
								</div>
								<a href="" class="nav-link" title="Space ships information">More</a>
								<div class="ico-card">
									<div class="">
										<img src="{% static 'IMG/spaceShips.svg' %}" alt="SpaceShips logo" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endblock %}
			</div>
			{% else %}
			<!-- label_row -->
			<!-- label_row -->
			<!-- label_row -->
			<div class="row mt-5" id="myHomework_labelRow">
				<div id="myHomework_label">
					<h2>
						<span style="color: rgb(92, 92, 92)">2023</span><br class="myHomework_labelBr" />
						<span style="color: rgb(92, 92, 92)">&ensp;MyHomeworks,&ensp;</span><br class="myHomework_labelBr" />
					</h2>
					<div class="bracketsBlock">
						<h2><span style="color: rgb(92, 92, 92)">&#123;" </span></h2>
						<div class="string">
							<h2 class="greeting Python">Python</h2>
							<h2 class="greeting JavaScript">JavaScript</h2>
							<h2 class="greeting HTML">HTML</h2>
							<h2 class="greeting SCSS">SCSS</h2>
							<h2 class="greeting Git">Git</h2>
						</div>
						<h2><span style="color: rgb(92, 92, 92)">"&#125;;</span></h2>
					</div>
				</div>
			</div>
			<!-- greeting -->
			<!-- greeting -->
			<!-- greeting -->
			<div class="d-flex flex-column align-items-center text-center">
				<h3 class="logoString_h3" style="color: rgb(92, 92, 92)">SpaceTales App</h3>
				<p class="text-center mt-3">
					<i>Data information is available only for <u>logged in</u> users.</i>
				</p>
				<a href="{% url 'login' %}" class="nav-link mt-5 logInReg_mainpage" title="Login">Log in!</a>
				<span class="my-3">or</span>
				<a href="{% url 'registration' %}" class="nav-link logInReg_mainpage" title="Register">Create an account!</a>
			</div>
			{% endif %}

			<!-- FOOTER -->
			<!-- FOOTER -->
			<!-- FOOTER -->
			<footer class="col-12">
				<ul class="nav justify-content-center">
					<li class="nav-item"><a href="/" class="nav-link px-2" title="Home page">Home</a></li>
				</ul>
				<hr class="my-1" />
				<p class="text-center text-body-secondary pb-4">2023 MyHomeworks, &#123; &#125;</p>
			</footer>
		</div>

		<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'dist/bundle.js' %}"></script>
		<!-- <a href="https://ru.freepik.com/free-vector/space-doodle_10837997.htm#query=planets&position=11&from_view=search&track=sph">Изображение от tartila</a> на Freepik -->
		<!-- <a href="https://ru.freepik.com/free-vector/seamless-pattern-with-cinema-elements_8084124.htm#query=film&position=8&from_view=search&track=sph">Изображение от dgim-studio</a> на Freepik -->
	</body>
</html>
