{% extends 'index.html' %} {% block content %} {% autoescape off %}

<div class="row">
	<div class="col-10 offset-1">
		<h3 class="logoString_h3">Planets list</h3>
		{% if data %}
		<p class="text-start text-small">Planets found: <b>{{planets_count}}</b>.</p>
		<hr />
		<ol>
			{% for i in data.results %}
			<li>
				<a href="{% url 'planets__details' i.name %}" class="nav-link" title="Detailed information about: '{{i.name}}'">"{{i.name}}";</a>
			</li>
			{% endfor %}
		</ol>
		<div class="d-flex justify-content-center mt-5"><a href="/" class="nav-link" title="Home page"><b>Home</b></a></div>
		{% else %}
		<p class="text-center">There are no planets found! <br />Please, try again later.</p>
		<div class="d-flex justify-content-center mt-5"><a href="/" class="nav-link" title="Home page"><b>Home</b></a></div>
		{% endif %}
	</div>
</div>

{% endautoescape %} {% endblock %}
