{% extends 'index.html' %} {% block content %} {% autoescape off %}

<div class="row">
	<div class="col-10 offset-1">
		{% if data %}
		<h3 class="logoString_h3 text-center">'{{data.name}}'</h3>
		<h3 class="logoString_h3 text-small text-center">Model: {{data.model}}</h3>
		<hr />
		<span class="text-small"><b>Base information:</b></span>
		<ul>
			<li>SpaceShip class: {{data.starship_class}}</li>
			<li>Passengers: {{data.passengers}}</li>
			<li>Max_atmosphering_speed: {{data.max_atmosphering_speed}}</li>
			<li>Manufacturer: {{data.manufacturer}}</li>
			<li>Length: {{data.length}}</li>
			<li>Hyperdrive rating: {{data.hyperdrive_rating}}</li>
			<li>Crew: {{data.crew}}</li>
			<li>Cargo_capacity: {{data.cargo_capacity}}</li>
			<li>Consumables: {{data.consumables}}</li>
			<li>Cost_in_credits: {{data.cost_in_credits}}</li>
		</ul>
		<hr style="width: 50%" />
		<!-- <p class="text-end">
			<span class="text-small"><b>Release Date:</b></span> {{data.release_date}},
			<span class="text-small"><b>Producer:</b></span> {{data.producer}}<br />
		</p> -->
		<div class="d-flex justify-content-center mt-5">
			<a href="{% url 'spaceships__list' %}" class="nav-link" title="SpaceShips list"><b>SpaceShips list</b></a>
		</div>
		{% else %}
		<p class="text-center">Error occurred! <br />Please, try again later.</p>
		<div class="d-flex justify-content-center mt-5">
			<a href="{% url 'spaceships__list' %}" class="nav-link" title="SpaceShips list"><b>SpaceShips list</b></a>
		</div>
		{% endif %}
	</div>
</div>

{% endautoescape %} {% endblock %}
